In [4]:
import pandas as pd
import numpy as np

In [5]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

In [19]:
from sklearn.preprocessing import OneHotEncoder

In [7]:
df = pd.read_csv('air_train.csv')
df.drop(['Unnamed: 0', 'id'], axis = 1, inplace = True)

In [8]:
df.columns

Index(['Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Gender                             103904 non-null  object
 1   Customer Type                      103904 non-null  object
 2   Age                                103904 non-null  int64
 3   Type of Travel                     103904 non-null  object
 4   Class                              103904 non-null  object
 5   Flight Distance                    103904 non-null  int64
 6   Inflight wifi service              103904 non-null  int64
 7   Departure/Arrival time convenient  103904 non-null  int64
 8   Ease of Online booking             103904 non-null  int64
 9   Gate location                      103904 non-null  int64
 10  Food and drink                     103904 non-null  int64
 11  Online boarding                    103904 non-null  int64
 12  Seat comfort                       103904 non-null  int64
 13  Inflight entertainment             103904 non-null  int64
 14  On-board service                   103904 non-null  int64
 15  Leg room service                   103904 non-null  int64
 16  Baggage handling                   103904 non-null  int64
 17  Checkin service                    103904 non-null  int64
 18  Inflight service                   103904 non-null  int64
 19  Cleanliness                        103904 non-null  int64
 20  Departure Delay in Minutes         103904 non-null  int64
 21  Arrival Delay in Minutes           103594 non-null  float64
 22  satisfaction                       103904 non-null  object
dtypes: float64(1), int64(17), object(5)
memory usage: 18.2+ MB

In [14]:
df["G"] = df.Gender.map({'Male':0, 'Female':1})

In [11]:
class Gen_coder (BaseEstimator, TransformerMixin):
    def __init__(self, remove_origin):
        self.remove_origin = remove_origin
    
    def fit(self, X, y = None):
        return self
    
    def transform(self, X, y = None):
        X["G"] = X.Gender.map({'Male':0, 'Female':1})
        
        if self.remove_origin:
            X.drop(['Gender'], axis = 1, inplace = True)
        
        return X

In [12]:
class TT_coder (BaseEstimator, TransformerMixin):
    def __init__(self, remove_origin):
        
        self.remove_origin = remove_origin
    
    def fit(self, X, y = None):
        return self
    
    def transform(self, X, y = None):
        X["TT"] = X['Type of Travel'].map({'Business travel':0, 'Personal Travel':1})
        
        return X

In [13]:
class Delay_coder (BaseEstimator, TransformerMixin):
    def __init__(self, remove_origin):
        self.remove_origin = remove_origin
    
    def fit(self, X, y = None):
        return self
    
    def transform(self, X, y = None):
        X["Delay"] = X['Departure Delay in Minutes'] + X['Arrival Delay in Minutes']
        return X

In [30]:
tt = TT_coder()

In [21]:
pl_enc = Pipeline ([('G',Gen_coder(True)), ('TT',TT_coder(False)), ('Delay',Delay_coder(False))])

In [22]:
df = pl_enc.transform(df)

In [ ]:
# упаковка в модуль

In [66]:
df

,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,...,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction,G,TT,Delay
0,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,5,...,4,4,5,5,25,18.0,neutral or dissatisfied,0,1,43.0
1,disloyal Customer,25,Business travel,Business,235,3,2,3,3,1,...,3,1,4,1,1,6.0,neutral or dissatisfied,0,0,7.0
2,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,5,...,4,4,4,5,0,0.0,satisfied,1,0,0.0
3,Loyal Customer,25,Business travel,Business,562,2,5,5,5,2,...,3,1,4,2,11,9.0,neutral or dissatisfied,1,0,20.0
4,Loyal Customer,61,Business travel,Business,214,3,3,3,3,4,...,4,3,3,3,0,0.0,satisfied,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,disloyal Customer,23,Business travel,Eco,192,2,1,2,3,2,...,4,2,3,2,3,0.0,neutral or dissatisfied,1,0,3.0
103900,Loyal Customer,49,Business travel,Business,2347,4,4,4,4,2,...,5,5,5,4,0,0.0,satisfied,0,0,0.0
103901,disloyal Customer,30,Business travel,Business,1995,1,1,1,3,4,...,4,5,5,4,7,14.0,neutral or dissatisfied,0,0,21.0
103902,disloyal Customer,22,Business travel,Eco,1000,1,1,1,5,1,...,1,5,4,1,0,0.0,neutral or dissatisfied,1,0,0.0
103903,Loyal Customer,27,Business travel,Business,1723,1,3,3,3,1,...,4,4,3,1,0,0.0,neutral or dissatisfied,0,0,0.0

In [ ]:
class some_transformer (BaseEstimator, TransformerMixin):
    
    def __init__(self, remove_origin):
        self.remove_origin = remove_origin
    
    def fit(self, X, y = None):
        return self
    
    def transform(self, X, y = None):
        # Transformation
        
        if self.remove_origin:
            # Remove original fields
        
        return X